.coin {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    background-color: blue;
	text-align: center;
	font-weight: bold;
	font-family: sans-serif;
	color: white;
	margin: 8px;
	display: inline-block;
	line-height: 50px;
	font-size: 22px;
}
